$primary-default: #0FE2FF;
$primary-alt: #60A7FA;
$primary-glow: #3DBEFF;
$primary-focus: #0FE2FF;
$primary-glass: #C6F7FF;

$neutral0: #FFFFFF;
$neutral100: #C3D1E1;
$neutral200: #A9B8C6;
$neutral300: #6D7A89;
$neutral400: #4B5C6D;
$neutral500: #3A4A5C;
$neutral600: #2F3540;
$neutral700: #252A32;
$neutral800: #1C1F26;
$neutral900: #15171F;
$neutral1000: #121419;

$text-primary: #FFFFFF;
$text-secondary: #C3D1E1;
$text-muted: #6D7A89;
$text-primary-dark: #000000;

$success-default: #4EF49D;
$success-dark: #1E6F57;

$error-default: #EF4444;
$error-dark: #B91C1C;

$warning-default: #F6D860;
$warning-dark: #85701C;

$surface-elevation-1: #141721;
$surface-elevation-2: #1C2432;
$surface-elevation-4: #252A32;
$surface-elevation-dark: #0F1014;
$surface-elevation-dark-2: #0C0E14;
$surface-light: #293448;
